@mixin clearFix {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

@mixin mQ($args) {
    @media screen and (max-width:$args) {
        @content;
    }
}
